---

---

<div class="py-8 max-w-screen-xl mx-auto text-black bg-slate-200">
  <div class="grid grid-cols-3 justify-items-center pb-8">
    <section>Footer 1</section>
    <section>Footer 2</section>
    <section>Footer 3</section>
  </div>
  <div class="flex justify-center">
    <p>copyright notice</p>
  </div>
</div>
<!-- <div>
  <p>
    &#169;2024. All rights reserved. Københavnerbilleder opgave 3. semester -
    Mathilde Yi Mei Jensen.
  </p>
</div> -->
